.links {
  margin-bottom: 20px;
}

.links__list {
  @include ul-reset;
  display: inline-flex;
  flex-wrap: wrap;
}

.links__item {
  position: relative;
  padding-right: 35px;
  font-size: 24px;
  a {
    color: #93a3ab;
    text-decoration: none;
    transition: all 0.3s;
    &:hover {
      color: #fff;
    }
  }
  &:last-child {
    padding-right: 0;
    &::after {
      display: none;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 14px;
    width: 7px;
    height: 7px;
    background-color: #93a3ab;
    border-radius: 50%;
  }
}

@media #{$tablet-widths} {

  .links {
    margin-bottom: 25px;
  }

  .links__item {
    font-size: 20px;
  }

}

@media #{$mobile-widths} {

  .links__list {
    justify-content: space-around;
  }

  .links__item {
    padding-right: 0;
    a {
      display: block;
      padding: 5px;
    }
    &:nth-child(-n+3) {
      width: 33.33%;
    }
    &::after {
      display: none;
    }
  }

}
