.page-footer {
  padding-top: 102px;
  padding-bottom: 70px;
  color: #93a3ab;
}

.page-footer__wrapper {
  width: 70.6%;
  margin: 0 auto;
  text-align: center;
}

.page-footer__title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 36px;
  letter-spacing: 0.55px;
}

.page-footer__text {
  margin: 0;
  margin-bottom: 51px;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.15px;
}

.page-footer__copyrights {
  font-size: 18px;
  color: #7f929d;
}

@media #{$tablet-widths} {

  .page-footer {
    padding-top: 50px;
  }

  .page-footer__title {
    font-size: 26px;
    margin-bottom: 15px;
  }

  .page-footer__text {
    font-size: 16px;
    margin-bottom: 35px;
  }

  .page-footer__copyrights {
    font-size: 16px;
  }

}


@media #{$mobile-widths} {



}
