.promo-block {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-height: 690px;
  padding-top: 83px;
  padding-right: 58%;
  padding-left: 60px;
  margin-bottom: 40px;
  background-repeat: no-repeat;
  &--md {
    width: 48.28%;
    min-height: auto;
    padding-top: 47px;
    padding-right: 12%;
    padding-left: 30px;
    .promo-block__title {
      margin-bottom: 0;
      font-size: 48px;
    }
    .promo-block__text {
      margin-bottom: 61px;
      font-size: 24px;
      line-height: 32px;
    }
    .promo-block__btn {
      margin-top: auto;
      margin-bottom: 225px;
    }
  }
  &--text-right {
    padding-right: 30px;
    padding-left: 12%;
    text-align: right;
    .promo-block__btn {
      align-self: flex-end;
    }
  }
  &--sm {
    align-items: center;
    width: 31.03%;
    padding-top: 63px;
    padding-right: 30px;
    padding-left: 30px;
    min-height: 440px;
    .promo-block__title {
      margin-bottom: 20px;
      font-size: 36px;
    }
    .promo-block__text {
      order: -1;
      margin-bottom: 3px;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
    }
    .promo-block__btn {
      align-self: center;
    }
  }
  &--text-bottom {
    padding-top: 259px;
  }
  &--gina {
    background-color: #889da7;
    background-image: url("../img/gina.jpg");
    background-position: right top;
  }
  &--beoplay {
    background-color: #5eb7a5;
    background-image: url("../img/beoplay_A1.jpg");
    background-position: left bottom;
  }
  &--leica {
    background-color: #757dc9;
    background-image: url("../img/leica_MP.jpg");
    background-position: right bottom;
  }
  &--molekule {
    background-color: #eb7c61;
    background-image: url("../img/molekule.jpg");
    background-position: bottom center;
  }
  &--p9 {
    background-color: #537683;
    background-image: url("../img/P9_Signature.jpg");
    background-position: top center;
  }
  &--dr {
    background-color: #81cada;
    background-image: url("../img/DR-II.jpg");
    background-position: bottom center;
  }
}

.promo-block__title {
  margin: 0;
  margin-bottom: 9px;
  font-family: $title-font;
  font-size: 80px;
  text-transform: uppercase;
}

.promo-block__text {
  margin: 0;
  margin-bottom: 135px;
  font-size: 32px;
  line-height: 40px;
}

.promo-block__btn {
  align-self: flex-start;
}

@media #{$tablet-widths} {

  .promo-block {
    min-height: 500px;
    padding-top: 35px;
    background-size: cover;
    &--md {
      min-height: auto;
      padding-top: 25px;
      padding-right: 25px;
      .promo-block__title {
        font-size: 38px;
      }
      .promo-block__text {
        font-size: 20px;
      }
      .promo-block__btn {
        margin-bottom: 100px;
      }
    }
    &--text-right {
      padding-right: 25px;
    }
    &--sm {
      min-height: 330px;
      padding-top: 25px;
      .promo-block__title {
        font-size: 26px;
      }
    }
    &--text-bottom {
      padding-top: 170px;
    }
    &--beoplay {
      background-size: contain;
    }
    &--leica {
      background-size: contain;
    }
    &--molekule {
      background-size: contain;
    }
    &--p9 {
      background-size: contain;
    }
    &--dr {
      background-size: contain;
    }

  }

  .promo-block__title {
    font-size: 62px;
  }

  .promo-block__text {
    margin-bottom: 70px;
    font-size: 24px;
  }

}

@media #{$mobile-widths} {

  .promo-block {
    align-items: center;
    width: 100%;
    min-height: auto;
    padding: 15px;
    margin-bottom: 20px;
    &--md {
      .promo-block__title {
        font-size: 32px;
        margin-bottom: 10px;
      }
      .promo-block__text {
        font-size: 19px;
        line-height: 30px;
        br {
          display: none;
        }
      }
      .promo-block__btn {
        align-self: flex-start;
      }
    }
    &--text-right {
      .promo-block__btn {
        align-self: flex-end;
      }
    }
    &--sm {
      .promo-block__title {
        font-size: 32px;
        margin-bottom: 10px;
      }
      .promo-block__text {
        order: 0;
        font-size: 19px;
        line-height: 30px;
        margin-bottom: 15px;
      }
      .promo-block__btn {
        margin-bottom: 135px;
      }
    }
    &--text-bottom {
      padding-top: 200px;
      .promo-block__btn {
        margin-bottom: 15px;
      }
    }
    &--gina {
      background-position: left;
    }
  }

  .promo-block__title {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .promo-block__text {
    font-size: 19px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 50px;
  }

  .promo-block__btn {
    align-self: center;
    margin-bottom: 20px;
  }

}
