.search {

}

.search__field {
  display: flex;
  width: 175px;
  input {
    display: block;
    width: 100%;
    padding: 0 2px;
    padding-bottom: 8px;
    font-family: $main-font;
    font-size: 24px;
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
    transition: all 0.3s;
    &::-webkit-input-placeholder {
      color: #93a3ab;
    }
    &::-moz-placeholder {
      color: #93a3ab;
    }
    &:-moz-placeholder {
      color: #93a3ab;
    }
    &:-ms-input-placeholder {
      color: #93a3ab;
    }
    &:focus + .search__icon {
      svg {
        * {
          fill: #fff;
        }
      }
      &::after {
        border-color: #fff;
      }
    }
  }
}

.search__icon {
  position: relative;
  order: -1;
  width: 30px;
  height: 20px;
  transform: translateY(8px);
  svg {
    * {
      transition: all 0.3s
    }
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 175px;
    border-bottom: 3px solid #62767f;
    transition: all 0.3s;
  }
}

@media #{$mobile-widths} {

  .search {
    width: 100%;
  }

  .search__icon {
    &::after {
      width: 280px;
    }
  }

}
