.search__field {
  width: 175px;
  input {
    display: block;
    width: 100%;
    padding-right: 2px;
    padding-bottom: 7px;
    padding-left: 32px;
    font-family: $main-font;
    font-size: 24px;
    color: #fff;
    background-color: transparent;
    background-image: url("../img/icons/search.svg");
    background-repeat: no-repeat;
    background-position: left;
    border: none;
    border-bottom: 3px solid #9ba6ab;
    outline: none;
    transition: all 0.3s;
    &::-webkit-input-placeholder {
      color: #93a3ab;
    }
    &::-moz-placeholder {
      color: #93a3ab;
    }
    &:-moz-placeholder {
      color: #93a3ab;
    }
    &:-ms-input-placeholder {
      color: #93a3ab;
    }
    &:focus {
      background-image: url("../img/icons/search-active.svg");
      border-bottom-color: #fff;
    }
  }
}

@media #{$mobile-widths} {

  .search {
    width: 100%;
    margin: 0 30px;
  }

  .search__field {
    width: 100%;
  }

}
