.subscription {
  margin-bottom: 94px;
}

.subscription__wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  width: 360px;
}

.subscription__email {
  width: 100%;
  margin-bottom: 20px;
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 13px 25px;
    text-align: center;
    border-color: #63767f;
    outline: none;
    &::-webkit-input-placeholder {
      color: #63767f;
    }
    &::-moz-placeholder {
      color: #63767f;
    }
    &:-moz-placeholder {
      color: #63767f;
    }
    &:-ms-input-placeholder {
      color: #63767f;
    }
    &:hover {
      background-color: transparent;
      color: #fff;
    }
    &:focus {
      border-color: #fff;
    }
  }
}

.subscription__submit {
  width: 100%;
  padding: 13px 25px;
  font-family: $title-font;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-color: #81cada;
  cursor: pointer;
  &:hover {
    color: #75f2e7;
  }
}

@media #{$tablet-widths} {

  .subscription {
    margin-bottom: 55px;
  }

}

@media #{$mobile-widths} {

  .subscription__wrapper {
    width: 100%;
  }

}
